{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/home/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static '/home/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static '/home/css/style.css' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    {% endblock %}

    <title>Mango More {% block extra_title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            <img src="{% static '/home/images/logo/MangoMore (1).png' %}" width="100" height="100" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Shop
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'category' 'DR' %}">Dresses</a>
                        <a class="dropdown-item" href="{% url 'category' 'SH' %}">Shirts</a>
                        <a class="dropdown-item" href="{% url 'category' 'ACC' %}">Accessories</a>
                        <a class="dropdown-item" href="#">Watches</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropDown" role="button"
                        data-toggle="dropdown" aria-expanded="false"> Samiksha </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropDown">
                        <li> <a class="dropdown-item" href="#"></a>Profile</li>
                        <li> <a class="dropdown-item" href="#"></a>Orders</li>
                        <li> <a class="dropdown-item" href="#"></a>Change Password</li>
                        <li> <a class="dropdown-item" href="#"></a>Logout</li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a href="#" class="nav-link text-white"> Cart 4</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="#" class="nav-link text-white"> Wishlist 4</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url 'login' %}" class="nav-link text-white"> Login </a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url 'customer-registration' %}" class="nav-link text-white"> Registration</a>
                </li>




            </ul>
        </div>
    </nav>
    {% block banner_slider %} {% endblock banner_slider %}
    {% block information %} {% endblock information %}
    {% block main-content %} {% endblock main-content %}


    <footer class="container-fluid bg-success fixed-bottom text-center p-2 mt-5">
        Copyright : 2024 | Project By : Samiksha Singh
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/all.min.js' %}"></script>
    <script src="{% static 'home/js/script.js' %}"></script>
</body>

</html>